@charset "UTF-8";

body {
    background-color: #7A918D;
}

div.home{
  position: absolute;
  top: 20px;
  height:1250px;
  left: 50px;
  right: 50px;
  background-color: #93B1A7;
  
}

h2{
  text-align: center;
  margin:-10;
}
.navigation__list {
    list-style: none;
    margin: 10;
    padding: 10;
    font-size: 20px;
  }
  
  .navigation__list--inline {
    display: flex;
    gap: 1.5em;
  }
  
  .navigation__link {
    color: inherit;
    display: block;
    padding-inline: 1em;
    text-decoration: none;
  }
  
  .navigation__link--is-active {
    background-color: #000;
    border-radius: 999em;
    color: #fff;
  }

  
  p {
    border-top: 2px dashed;
    border-color: rgb(2, 5, 5) !important;
    margin:0; padding:2;
  }
  
  p:nth-child(even) {
    border-bottom: 2px dashed;
    margin-right: 200px; 
    margin-left: 200px;
    padding-right: 0;
  }
  
  p:nth-child(odd) {
   
    margin-left: 200px; 
    margin-right: 200px;
    padding-left: 0;
  }
  
  p:first-child {
    border-top: 0;
    margin-left: 200px;
    margin-right: 200px;
  }
  
  p:last-child {
    margin-left:200px;
    margin-right:200px;
    margin-bottom:50px;
  }