@charset "UTF-8";

body {
    background-color: #7A918D;
}

div.home{
  position: absolute;
  top: 20px;
  height:600px;
  left: 50px;
  right: 50px;
  background-color: #93B1A7;
  text-align: center;
}

.navigation__list {
    list-style: none;
    margin: 10;
    padding: 10;
    font-size: 20px;
  }
  
  .navigation__list--inline {
    display: flex;
    gap: 1.5em;
  }
  
  .navigation__link {
    color: inherit;
    display: block;
    padding-inline: 1em;
    text-decoration: none;
  }
  
  .navigation__link--is-active {
    background-color: #000;
    border-radius: 999em;
    color: #fff;
  }



.console-container {
 
    font-family:Khula;
    font-size:4em;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
  }
  .console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }



